.menu {
    border-style: dashed;
    border-color: #060809;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: #15181b;
    font-size: 22px;
}

.conteudo {
    border-style: dashed;
    border-color: #060809;
    border-radius: 30px;
    background: #15181b;
}

.li {
    display: inline;
    padding:0px;
}

.ul {
    padding:0px;
}

a:link {
    background-color: transparent; 
    text-decoration: none;
    color: #0074dc;
}

a:visited {
    background-color: transparent; 
    text-decoration: none;
    color: #0074dc;
}

a:hover {
    background-color: transparent; 
    text-decoration: none;
    color: #00bc00;
}

a:active {
    background-color: transparent; 
    text-decoration: none;
    color: #0074dc;
}

body {
    font-family: monospace;
    font-size: 18px;
    background: #212529;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    padding-right: 100px;
    padding-left: 100px;
}

div {
    text-align: justify;
}

footer {
    padding-top: 100px;
    text-align: center;
}

.center {
    text-align:center;
}
