.menu {
    background: #212529;
    position: fixed;
    font-size: 20px;
    top: 0;
    padding-top: 10px;
    padding-top: 10px;
    width: 100%;
}

.li {
    display: inline;    
    padding-right: 10px;
    padding-left: 10px;
}

a:link {
    background-color: transparent; 
    text-decoration: none;
    color: #0063bc;
}

a:visited {
    background-color: transparent; 
    text-decoration: none;
    color: #0063bc;
}

a:hover {
    background-color: transparent; 
    text-decoration: none;
    color: #00bc00;
}

a:active {
    background-color: transparent; 
    text-decoration: none;
    color: #0063bc;
}

body {
    font-family: monospace;
    font-size: 18px;
    background: #212529;
    color: #ffffff;
    padding-top: 75px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 10px;
}

div {
    text-align: justify;
}

footer {
    text-align: center;
}
